<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/todo.css">
    <title>Todo</title>
</head>
<body>
    <div class="container">
      <div class="create__button">
        <button class="btn__create">
            Create Todo
        </button>
      </div>
      <div class="todo__list__container">
       <ul class="todo__list"></ul>
      </div>
    </div>
</body>
</html>