<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../dist/auth.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <form action="" id="form">
        <h3>Login</h3>
        <div class="input__group">
          <label for="">Email</label>
          <input type="text" class="email__input" />
        </div>

        <div class="input__group">
          <label for="">Password</label>
          <input type="password" class="password__input" />
        </div>
        <div class="login__btn__container">
          <a href="http://127.0.0.1:5500/client/view/Auth/Register.html"
            >Register</a
          >
          <button type="submit">Login</button>
        </div>
      </form>
    </div>

    <script src="../../app/Login.js"></script>
  </body>
</html>
